@font-face {
    font-family: "Proxima-nova";
    src: url(/Assets/Fonts/Proxima\ Nova\ Semibold.ttf) format('truetype');
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Proxima-nova";
    overflow-x: hidden;
}

p {
    margin: 0;
}
/* Proxima Nova Cn Lt */
h1 {
    font-family: "Proxima-nova";
    margin-top: 5px;
}

a {
    all: unset;
}

ul,
li {
    list-style: none;
}