.image {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: black;
    background-image: url(/Assets/Picture/background-picture.jpg);
    background-size: cover;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    color: white;
    padding-top: 7px;
}

.nav-bar p,
.nav-bar-for-all p {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s all;
    border-radius: 10px;
    z-index: 2;
}

.nav-bar a,
.nav-bar-for-all a {
    z-index: 2;
}

.nav-bar-for-all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    color: blue;
    padding-top: 7px;
}


.nav-bar p:hover {
    background-color: rgb(170, 170, 170, 0.65);
}

.nav-bar-for-all p:hover {
    background-color: rgba(211, 211, 211, 0.8);
}

.site-main-logo {
    cursor: pointer;
    width: 70px;
    z-index: 1;
}

.date-name-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
}

.start-date {
    font-size: 38px;
}

.date-name-container h1 {
    font-size: 180px;
}


.nav-small-icons {
    position: fixed;
    top: 250px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}



.nav-small-icons li a {
    background-color: #043974;
    margin-top: 20px;
    border: solid 1px #043974;
    padding: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-small-icons span {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    right: 10px;
    overflow: hidden;
    position: absolute;
    transition: all 0.2s ease;
    white-space: nowrap;
    width: 0;
}

.nav-small-icons a:hover span {
    display: flex;
    align-items: center;
    width: auto;
    height: 62.9px;
    border-radius: 30px;
    padding: 0 60px;
    overflow: visible;
}

.nav-small-icons a:hover {
    text-decoration: none;
}

.nav-small-icons a span {
    background-color: #043974;
    color: white;
}

.small-icon {
    z-index: 1;
    color: white;
}